:root {
  --color-primary: 42 157 143;
  --color-secondary: 231 111 81;
  --color-dark: 38 70 83;
  --color-light: 221 216 184;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm drop-shadow;
}

.nav-link{
  @apply flex items-center text-base text-dark py-2 mx-6 lg:mx-4 min-h-[44px] min-w-[44px];
}

.nav-link:hover {
  @apply hover:text-primary hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8 transition-all duration-300 ease-in-out;
}

.nav-link.active {
  @apply text-primary font-medium underline decoration-secondary decoration-2 underline-offset-8 transition-all duration-300 ease-in-out;
}

.btn-link{
  @apply flex items-center text-base text-white py-2 mx-6 px-4 bg-primary/90 rounded min-h-[44px] min-w-[44px] hover:bg-primary/100 lg:mx-4 hover:shadow-xl hover:opacity-80 transition duration-300 ease-out
}

.btn-link.active {
  @apply shadow-xl opacity-80;
}

@layer components {
  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark
  }
}

@layer utilities {
  .hamburger-active> span:nth-child(1) {
    @apply rotate-45 ml-auto;
  }
  .hamburger-active> span:nth-child(2) {
    @apply scale-0 ml-auto;
  }
  .hamburger-active> span:nth-child(3) {
    @apply -rotate-45 ml-auto;
  }
}