.navbar {
    /* background-color: transparent; */
    background-color: #2a9d8f;
}

.navbar-nav {
    font-size: 18px;
}

.navbar-nav .nav-link {
    color: #eaeaea !important;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
    font-weight: 500;
    transition: ease-out;
    transition-duration: 0.15s;
    text-decoration: underline;
}

.jumbotron {
    height: 100%;
    background-color: #264653;
    color: #ffffff;
}

.hr-title {
    display: inline-block;
}

.hr-title:after {
    content: '';
    display: block;
    border-bottom: #e76f51 3px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    opacity: 100%;
    width: 2em;
}

.wrapper-1 {
    height: 300px;
    border: 2px dashed #c2cdda;
    overflow: hidden;
}

.wrapper-1 .image img {
    object-fit: cover;
    display: none;
}

.wrapper-1 .icon {
    font-size: 100px;
    color: #2a9d8f;
}

.wrapper-1 .text {
    font-size: 20px;
    font-weight: 500;
    color: #2a9d8f;
}

.wrapper-1 #btn-cancel {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    background: #2a9d8f;
    color: #ffffff;
    padding: 0 7px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    display: none;
}

.wrapper-2 {
    height: 300px;
    overflow: hidden;
}

.wrapper-2 .image img {
    object-fit: cover;
    display: none;
}

.wrapper-2 .icon {
    font-size: 100px;
    color: #ffffff;
}

.wrapper-2 .text {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff
}

.actived {
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.actived:hover #btn-cancel {
    display: block;
}

.actived .image img {
    display: block;
}

#btn-upload {
    background-color: #264653 !important;
    border: 0;
}

#btn-upload:hover {
    background-color: #182d35 !important;
}

#btn-predict,
#btn-predict:disabled,
#btn-predict[disabled] {
    background-color: #2a9d8f !important;
    border: 0;
}

#btn-predict:hover {
    background-color: #248579 !important;
}

#btn-repeat {
    background-color: #e76f51 !important;
    color: #ffffff;
    border: 0;
}

#btn-repeat:hover {
    background-color: #cc664d !important;
    color: #ffffff;
}

.wrapper-1 .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    background: #2a9d8f;
    color: #ffffff;
    display: none;
}

.wrapper-2 .file-name {
    position: absolute;
    width: 100%;
    font-size: 18px;
    padding: 50% 0;
    /* background: #2a9d8f; */
    background: rgba(42, 157, 143, .6);
    color: #ffffff;
    display: none;
}

.wrapper-2 .file-name p {
    font-size: 100px;
    margin: 0 0;
}

.wrapper-2.actived .file-name {
    display: block;
}

.wrapper-1.actived:hover .file-name {
    display: block;
}

.card-body .card-item {
    margin-top: 100px;
}

.card-item .card-top {
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card .card-team {
    width: 150px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 150px;
    object-fit: cover;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#credits .card {
    background-color: #ddd8b8;
    color: #182d35;
    border: 0;
}

#credits li {
    list-style-type: none;
    margin-bottom: 7px;
}

#credits li a {
    color: #182d35;
    margin-left: 5px;
    font-weight: 500;
    text-decoration: none;
}

#credits li a:hover {
    color: #e76f51;
    text-decoration: underline;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #264653;
    padding: 7vh 0;
}

footer a {
    text-decoration: none;
    color: #2a9d8f;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
    color: #ddd8b8;
}